Flask
gunicorn
Flask-Cors
flask-jwt-extended==24.3.1
python-dotenv
requests
Werkzeug
mysql-connector-python
mysql
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
flask-mail
itsdangerous